body {
    background: url("mainBckg.jpg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.btn {
    padding: 15px 100px;
    margin: 10px 4px;
    color: red;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    text-decoration: none;
    display: inline-block;
    border: 1px solid;
    transform: translateX(240%);

}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
    transition: all 0.4s;
}

.btn:hover {
    color: #b414ba;
}

.btn:hover::before {
    opacity: 1;
    background-color: #f7c2f9;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    transition: -webkit-transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02), opacity 0.4s;
    transition: transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02), opacity;
}

#board {
    height: 580px;
    width: 425px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border: 10px solid lightgrey;
}

.card {
    height: 140px;
    width: 100px;
    margin: 2.5px;
}